<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<script src="static/js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/materialize.css">
  <script src="static/js/materialize.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="Language" content="en" />
	<title>Buyitt</title>
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/shopping-glyphs-1/128/21-512.png">
	<meta name="description" content="Online Shopping Portal"/>
	<meta name="keywords" content="DBMS Project">
	<meta name="author" content="Abhinav Kumar">
</head>

<body>
{% include 'nav.html' %}
<h5>Search Results for :- {{ arg }}</h5>

{% macro getCard(d) -%}
<div class="col s12 m3">
	<div class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="activator" src="{{ d[5] }}">
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-3">{{ d[2] }}<i class="material-icons right">more_vert</i></span>
			<p>Rs. {{ d[4] }}</p></br>
			<p><button class="btn waves-effect waves-light" id="buy">Buy Now</button></p>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">{{ d[2] }}<i class="material-icons right">close</i></span>
			<p>{{ d[3] }}</p>
		</div>
	</div>
</div>
{%- endmacro %}

<div class="container">
	<div class="row" id="popular">
		<!-- {{ data[0] }} -->
		{% for d in data %}

		{{ getCard(d) }}

		{% endfor %}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#popular").find('div div p #buy').click(function(e){
		alert($(this).parent().parent().find("span").html().split("<i")[0]);
		var r = $(this).parent().parent().find("span").html().split("<i")[0];
		window.location.href = "/cart?action=addItem&name="+r;
	});
	$("#trending").find('div div p #buy').click(function(e){
		alert($(this).parent().parent().find("span").html().split("<i")[0]);
		var r = $(this).parent().parent().find("span").html().split("<i")[0];
		window.location.href = "/cart?action=addItem&name="+r;
	});
});

</script>


</div>
</div>
</body>
</html>
